body{
    background-color: rgb(247, 221, 175);
}
.navbar{
    background-color: rgb(255, 123, 0);
}
.footer{
    background-color: rgb(255, 123, 0);
}
.enlaces{
    font-family: 'Anton', sans-serif;
    font-size: 26px;
}

a{
    text-decoration:none ;
    color: rgb(119, 77, 0);
}

ul{
    list-style-type: none;
}

 li{
     margin-top: 10px;
 }

 h3{
    font-family: 'Yusei Magic', sans-serif;
    font-size: 22px;
 }
.card{
    background-color: rgb(199, 112, 30);
    margin-top: 20px;
}
.card-title{
    text-align: center;
    font-size: 28px;
    font-family:Impact;
    background-color: rgb(107, 61, 18);
    color: rgb(235, 188, 117);
}

.footer__letra a:hover{
    font-size: 22px;
    font-family: 'Lobster Two', cursive;
    color: white;
}

.boton{
    background-color: rgb(199, 112, 30);
    font-size: 30px;
    color: rgb(235, 188, 117);
    font-family:Impact;
    appearance: none;
    margin-top: 110px;
    border: none;
}

.boton_solo{
    background-color: rgb(199, 112, 30);
    font-size: 30px;
    color: rgb(235, 188, 117);
    font-family:Impact;
    appearance: none;
    border: none;
}

.boton:hover{
    background-color: rgb(107, 61, 18);
    color: rgb(235, 188, 117);
    font-family:Impact;
    font-size: 40px;
    transition: background-color 1.3s ease;
    transition: font-size 0.7s ease;
}

.boton_solo:hover{
    background-color: rgb(107, 61, 18);
    color: rgb(235, 188, 117);
    font-family:Impact;
    transition: background-color 1.3s ease;
}

.page-link{
    background-color: rgb(199, 112, 30);
    font-size: 20px;
    color: rgb(235, 188, 117);
    font-family:Impact;
    appearance: none;
}

.page-link:hover{
    background-color: rgb(107, 61, 18);
    color: rgb(235, 188, 117);
    font-family:Impact;
    transition: background-color 1.3s ease;
}

h2{
    font-family: 'Yusei Magic', sans-serif;
    font-size: 40px;
    text-align: center;
}

.horario{
    margin-top: 150px;
}